
.content li a:hover{
  color : #009;
}

.horizen-menu-left {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.horizen-menu-left li {
    float: left;
    border-right:1px solid #bbb;
}
.horizen-menu-left li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}
.horizen-menu-left li a:hover {
    background-color: white;
    color : black;
}
.title{
  text-align: center;
}
.title:hover{
  color : #009;
}
form{
  text-align: left;
}
body {
  font-family: "Lato", sans-serif;
}
.wrapper {
  display: grid;
  grid-template-columns: AUTO;
}
.wrapper a{
  padding : 20px;
  text-align: center;
}
