doctype Html
html
head
  title LinkAbout
  link(rel="stylesheet" href="/stylesheets/main.css")
  body
    header
      ul(class="horizen-menu-right")
        if isAuthed
          li
            a(href="/auth/logout") logout
          li
            a(href="/MyProfile") MyPage
        else
          li
            a(href="/auth/loginpage") SignIn
        li
          a(href="#news") News
        li
          a(href="#about") About
      if cursettitle == "LinkAbout"
        a(href="/")
          h1(class="title")= cursettitle
      else
        a(href="/subset/"+cursetid+"/"+cursettitle)
          h1(class="title")= cursettitle
    ul(class="horizen-menu-left")
      if uppersettitle == "LinkAbout"
        li
          a(href="/") Upper set
      else if uppersettitle === undefined
        li
          a(href="/") Upper set
      else
        li
          a(href="/subset/"+uppersetid+"/"+uppersettitle) Upper Set
      li
        a(href="#") Liks
      li
        a(href="#") Communities
      li
        a(href="/set/newsetform/"+cursetid+"/"+cursettitle) New Set
      li
        a(href="#") New link
      li
        a(href="#") New Community
    block MainView
