doctype Html
html
head
  title Inbetter
  link(rel="stylesheet" href="/stylesheets/main.css")
  body
    header
      ul(class="horizen-menu-right")
        if isAuthed
          li
            a(href="/auth/logout") logout
          li
            a(href="/MyProfile") MyPage
        else
          li
            a(href="/auth/loginpage") SignIn
        li
          a(href="#news") News
        li
          a(href="#about") About
      a(href="/" )
        h1(class="title")= title
    ul(class="horizen-menu-left")
      li
        a(href="#") Sets
      li
        a(href="#") Liks
      li
        a(href="#") Communities
      li
        a(href="/set/newsetform/"+currentSet) New Set
      li
        a(href="#") New link
      li
        a(href="#") New Community
    block MainView
