extends header

block MainView

  ul(class="horizen-menu-left")
    if uppersettitle == "LinkAbout"
      li
        a(href="/") Upper set
    else if uppersettitle === undefined
      li
        a(href="/") Upper set
    else
      li
        a(href="/subset/"+uppersetid+"/"+uppersettitle) Upper Set
    li
      a(href="/link/"+cursetid+"/"+cursettitle) Links
    li
      a(href="#") Communities
    li
      a(href="/set/newsetform/"+cursetid+"/"+cursettitle) New Set
    li
      a(href="/link/newlinkform/"+cursetid+"/"+cursettitle) New link
    li
      a(href="#") New Community
  ul(class="content")
    if links.length == 0
      li link가 없습니다. 첫 link를 만들어 주세요!
    each link in links
      li
        h2= link.title
        a(href="/link/content/"+link._id)
          link.link
