extends index
block MainView
  ul
    if sets.length == 0
      li set이 없습니다. 첫 set을 만들어 주세요!
    each set in sets
      li
        a(href="/set/subset/"+set._id+"/"+set.title)
          h2= set.title
