doctype Html
html
head
  title LinkAbout
  link(rel="stylesheet" href="/stylesheets/main.css")
  body
    fieldset(align="center")
      legend 로그인 해주세요
      p
        a(href='/auth/kakao') sign in via kakao
