extends header

block MainView

  ul(class="content")
    if children.length == 0
      li child이 없습니다. 첫 child을 만들어 주세요!
    each child in children
      li
        a(href="/set/"+child._id)
          h2= child.title
