doctype Html
html
head
  title LinkAbout
  link(rel="stylesheet" href="/stylesheets/main.css")
  body
    h1 Linkabout 회원님들*^^*
    ul(class="content")
    each user in users
      li
        a(href="/userset/"+user._id+"/"+user.personal)= user.createdBy
